# Regression ML Quiz

## Importing Packages

In [1]:
# import required libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv')
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [3]:
# check column names
df.columns

Index(['date', 'Appliances', 'lights', 'T1', 'RH_1', 'T2', 'RH_2', 'T3',
       'RH_3', 'T4', 'RH_4', 'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8',
       'RH_8', 'T9', 'RH_9', 'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed',
       'Visibility', 'Tdewpoint', 'rv1', 'rv2'],
      dtype='object')

In [4]:
# change change column names to more descriptive ones
column_names = {'T1': 'Temp_kitchen', 'RH_1': 'Humidity_kitchen', 
                'T2': 'Temp_living_room', 'RH_2': 'Humidity_living_room',
                'T3': 'Temp_laundry', 'RH_3': 'Humidity_laundry',
                'T4': 'Temp_office', 'RH_4': 'Humidity_office',
                'T5': 'Temp_bathroom', 'RH_5': 'Humidity_bathroom',
                'T6': 'Temp_outside_building', 'RH_6': 'Humidity_outside_building',
                'T7': 'Temp_ironing_room', 'RH_7': 'Humidity_ironing_room',
                'T8': 'Temp_teenager_room', 'RH_8': 'Humidity_teenager_room',
                'T9': 'Temp_parents_room', 'RH_9': 'Humidity_parents_room',
                'T_out': 'Temp_outside', 'RH_out': 'Humidity_outside',
                'rv1': 'Rand_var1', 'rv2': 'Rand_var2'}

df.rename(columns=column_names, inplace=True)

# check changes
df.columns

Index(['date', 'Appliances', 'lights', 'Temp_kitchen', 'Humidity_kitchen',
       'Temp_living_room', 'Humidity_living_room', 'Temp_laundry',
       'Humidity_laundry', 'Temp_office', 'Humidity_office', 'Temp_bathroom',
       'Humidity_bathroom', 'Temp_outside_building',
       'Humidity_outside_building', 'Temp_ironing_room',
       'Humidity_ironing_room', 'Temp_teenager_room', 'Humidity_teenager_room',
       'Temp_parents_room', 'Humidity_parents_room', 'Temp_outside',
       'Press_mm_hg', 'Humidity_outside', 'Windspeed', 'Visibility',
       'Tdewpoint', 'Rand_var1', 'Rand_var2'],
      dtype='object')

In [5]:
df.head()

,date,Appliances,lights,Temp_kitchen,Humidity_kitchen,Temp_living_room,Humidity_living_room,Temp_laundry,Humidity_laundry,Temp_office,...,Temp_parents_room,Humidity_parents_room,Temp_outside,Press_mm_hg,Humidity_outside,Windspeed,Visibility,Tdewpoint,Rand_var1,Rand_var2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [6]:
df.shape

(19735, 29)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   date                       19735 non-null  object
 1   Appliances                 19735 non-null  int64
 2   lights                     19735 non-null  int64
 3   Temp_kitchen               19735 non-null  float64
 4   Humidity_kitchen           19735 non-null  float64
 5   Temp_living_room           19735 non-null  float64
 6   Humidity_living_room       19735 non-null  float64
 7   Temp_laundry               19735 non-null  float64
 8   Humidity_laundry           19735 non-null  float64
 9   Temp_office                19735 non-null  float64
 10  Humidity_office            19735 non-null  float64
 11  Temp_bathroom              19735 non-null  float64
 12  Humidity_bathroom          19735 non-null  float64
 13  Temp_outside_building      19735 non-null  float64
 14  Humidity_outside_building  19735 non-null  float64
 15  Temp_ironing_room          19735 non-null  float64
 16  Humidity_ironing_room      19735 non-null  float64
 17  Temp_teenager_room         19735 non-null  float64
 18  Humidity_teenager_room     19735 non-null  float64
 19  Temp_parents_room          19735 non-null  float64
 20  Humidity_parents_room      19735 non-null  float64
 21  Temp_outside               19735 non-null  float64
 22  Press_mm_hg                19735 non-null  float64
 23  Humidity_outside           19735 non-null  float64
 24  Windspeed                  19735 non-null  float64
 25  Visibility                 19735 non-null  float64
 26  Tdewpoint                  19735 non-null  float64
 27  Rand_var1                  19735 non-null  float64
 28  Rand_var2                  19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

#### From the dataset, fit a linear model on the relationship between the temperature in the living room in Celsius (x = T2) and the temperature outside the building (y = T6). What is the R^2 value in two d.p.?

In [8]:
simple_reg = df[['Temp_living_room', 'Temp_outside_building']]
simple_reg

       Temp_living_room  Temp_outside_building
0             19.200000               7.026667
1             19.200000               6.833333
2             19.200000               6.560000
3             19.200000               6.433333
4             19.200000               6.366667
...                 ...                    ...
19730         25.890000              24.796667
19731         25.754000              24.196667
19732         25.628571              23.626667
19733         25.414000              22.433333
19734         25.264286              21.026667

[19735 rows x 2 columns]

In [9]:
X = simple_reg[['Temp_living_room']]
y = simple_reg['Temp_outside_building']

In [10]:
# build a linear model
from sklearn.linear_model import LinearRegression
linear_model = LinearRegression()

# fit the model to the training dataset
linear_model.fit(X, y)

# obtain predictions
predicted_values = linear_model.predict(X)

In [11]:
# R-Squred
from sklearn.metrics import r2_score
r2_score = r2_score(y, predicted_values)
round(r2_score, 2)

0.64

#### Normalize the dataset using the MinMaxScaler after removing the following columns: [“date”, “lights”]. The target variable is “Appliances”. Use a 70-30 train-test set split with a random state of 42 (for reproducibility). Run a multiple linear regression using the training set and evaluate your model on the test set. Answer the following questions:

In [12]:
# Drop date and lights columns
df.drop(columns=['lights', 'date'], inplace=True)

In [13]:
# Firstly, we normalise our dataset to a common scale using the min max scaler
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
normalised_df = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)
features_df = normalised_df.drop(columns=['Appliances'])
target = normalised_df['Appliances']

In [14]:
df.head()

,Appliances,Temp_kitchen,Humidity_kitchen,Temp_living_room,Humidity_living_room,Temp_laundry,Humidity_laundry,Temp_office,Humidity_office,Temp_bathroom,...,Temp_parents_room,Humidity_parents_room,Temp_outside,Press_mm_hg,Humidity_outside,Windspeed,Visibility,Tdewpoint,Rand_var1,Rand_var2
0,60,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,60,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,50,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,50,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,60,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [15]:
features_df

,Temp_kitchen,Humidity_kitchen,Temp_living_room,Humidity_living_room,Temp_laundry,Humidity_laundry,Temp_office,Humidity_office,Temp_bathroom,Humidity_bathroom,...,Temp_parents_room,Humidity_parents_room,Temp_outside,Press_mm_hg,Humidity_outside,Windspeed,Visibility,Tdewpoint,Rand_var1,Rand_var2
0,0.327350,0.566187,0.225345,0.684038,0.215188,0.746066,0.351351,0.764262,0.175506,0.381691,...,0.223032,0.677290,0.372990,0.097674,0.894737,0.500000,0.953846,0.538462,0.265449,0.265449
1,0.327350,0.541326,0.225345,0.682140,0.215188,0.748871,0.351351,0.782437,0.175506,0.381691,...,0.226500,0.678532,0.369239,0.100000,0.894737,0.476190,0.894872,0.533937,0.372083,0.372083
2,0.327350,0.530502,0.225345,0.679445,0.215188,0.755569,0.344745,0.778062,0.175506,0.380037,...,0.219563,0.676049,0.365488,0.102326,0.894737,0.452381,0.835897,0.529412,0.572848,0.572848
3,0.327350,0.524080,0.225345,0.678414,0.215188,0.758685,0.341441,0.770949,0.175506,0.380037,...,0.219563,0.671909,0.361736,0.104651,0.894737,0.428571,0.776923,0.524887,0.908261,0.908261
4,0.327350,0.531419,0.225345,0.676727,0.215188,0.758685,0.341441,0.762697,0.178691,0.380037,...,0.219563,0.671909,0.357985,0.106977,0.894737,0.404762,0.717949,0.520362,0.201611,0.201611
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,0.926786,0.537657,0.711655,0.606309,0.830841,0.579374,0.864865,0.765258,0.752031,0.339590,...,0.864724,0.729443,0.891747,0.602326,0.416667,0.238095,0.348718,0.901961,0.861981,0.861981
19731,0.919747,0.536006,0.701769,0.607836,0.825302,0.582178,0.864865,0.765258,0.754897,0.338487,...,0.864724,0.729443,0.887460,0.602326,0.421053,0.250000,0.361538,0.900452,0.985726,0.985726
19732,0.919747,0.538666,0.692651,0.627198,0.818378,0.603988,0.864865,0.771233,0.754897,0.337585,...,0.864724,0.729443,0.883173,0.602326,0.425439,0.261905,0.374359,0.898944,0.583979,0.583979
19733,0.919747,0.549491,0.677054,0.634717,0.805085,0.585294,0.864865,0.773794,0.752031,0.336583,...,0.864724,0.730581,0.878885,0.602326,0.429825,0.273810,0.387179,0.897436,0.126371,0.126371
19734,0.919747,0.538758,0.666171,0.632902,0.799546,0.579062,0.864865,0.781192,0.752031,0.336583,...,0.864724,0.731719,0.874598,0.602326,0.434211,0.285714,0.400000,0.895928,0.682391,0.682391

In [16]:
# Now, we split our dataset into the training and testing dataset
# Recall that we had earlier segmented the features and target variables.
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(features_df, target, test_size=0.3, random_state=42)

In [17]:
# build a linear model
from sklearn.linear_model import LinearRegression
linear_model = LinearRegression()

# fit the model to the training dataset
linear_model.fit(x_train, y_train)

# obtain predictions
predicted_values = linear_model.predict(x_test)

In [18]:
predicted_values

array([0.03322207, 0.24411599, 0.03400024, ..., 0.06844707, 0.10032325,
       0.05722198])

#### What is the Mean Absolute Error (in two decimal places)?

In [19]:
# MAE
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, predicted_values)
round(mae, 2)

0.05

#### What is the Residual Sum of Squares (in two decimal places)?

In [20]:
# RSS
rss = np.sum(np.square(y_test - predicted_values))
round(rss, 2)

45.35

#### What is the Root Mean Squared Error (in three decimal places)?

In [21]:
# RMSE
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
round(rmse, 3)

0.088

#### What is the Coefficient of Determination (in two decimal places)?

In [22]:
# R-Squred
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, predicted_values)
round(r2_score, 2)

0.15

#### Obtain the feature weights from your linear model above. Which features have the lowest and highest weights respectively?

In [23]:
# comparing the effects of regularisation

def get_weights_df(model, feat, col_name):
    """this function returns the weight of every feature"""
    weights = pd.Series(model.coef_, feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['Features', col_name]
    weights_df[col_name].round(3)
    return weights_df

linear_model_weights = get_weights_df(linear_model, x_train, 'Linear_Model_Weight')
linear_model_weights

                     Features  Linear_Model_Weight
0        Humidity_living_room            -0.456698
1                Temp_outside            -0.321860
2            Temp_living_room            -0.236178
3           Temp_parents_room            -0.189941
4      Humidity_teenager_room            -0.157595
5            Humidity_outside            -0.077671
6       Humidity_ironing_room            -0.044614
7       Humidity_parents_room            -0.039800
8               Temp_bathroom            -0.015657
9                Temp_kitchen            -0.003281
10                  Rand_var2             0.000770
11                  Rand_var1             0.000770
12                Press_mm_hg             0.006839
13          Temp_ironing_room             0.010319
14                 Visibility             0.012307
15          Humidity_bathroom             0.016006
16            Humidity_office             0.026386
17                Temp_office             0.028981
18                  Windspeed             0.029183
19  Humidity_outside_building             0.038049
20           Humidity_laundry             0.096048
21         Temp_teenager_room             0.101995
22                  Tdewpoint             0.117758
23      Temp_outside_building             0.236425
24               Temp_laundry             0.290627
25           Humidity_kitchen             0.553547

#### Train a ridge regression model with an alpha value of 0.4. Is there any change to the root mean squared error (RMSE) when evaluated on the test set?

In [24]:
# Ridge Regression
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(x_train, y_train)
predicted_values = ridge_reg.predict(x_test)

In [25]:
# RMSE
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
round(rmse, 3)

0.088

#### Train a lasso regression model with an alpha value of 0.001 and obtain the new feature weights with it. How many of the features have non-zero feature weights?

In [26]:
# Feature Selection and Lasso Regression
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(x_train, y_train)
predicted_values = lasso_reg.predict(x_test)

In [27]:
lasso_weights_df = get_weights_df(lasso_reg, x_train, 'Lasso_weight')
lasso_weights_df

                     Features  Lasso_weight
0            Humidity_outside     -0.049557
1      Humidity_teenager_room     -0.000110
2                Temp_kitchen      0.000000
3                   Tdewpoint      0.000000
4                  Visibility      0.000000
5                 Press_mm_hg     -0.000000
6                Temp_outside      0.000000
7       Humidity_parents_room     -0.000000
8           Temp_parents_room     -0.000000
9          Temp_teenager_room      0.000000
10      Humidity_ironing_room     -0.000000
11                  Rand_var1     -0.000000
12          Temp_ironing_room     -0.000000
13      Temp_outside_building      0.000000
14          Humidity_bathroom      0.000000
15              Temp_bathroom     -0.000000
16            Humidity_office      0.000000
17                Temp_office     -0.000000
18           Humidity_laundry      0.000000
19               Temp_laundry      0.000000
20       Humidity_living_room     -0.000000
21           Temp_living_room      0.000000
22  Humidity_outside_building     -0.000000
23                  Rand_var2     -0.000000
24                  Windspeed      0.002912
25           Humidity_kitchen      0.017880

#### What is the new RMSE with the lasso regression? (Answer should be in three (3) decimal places)

In [28]:
# RMSE
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
round(rmse, 3)

0.094