<a href="https://colab.research.google.com/github/muhammedbalogun/Hamoye_internship_assignments/blob/master/005_tag_along_code_stageE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Time Series Analysis and Forecast

In [10]:
# import required libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [11]:
# preliminary assessment function

def assess_data(file, encoding='utf-8'):
    
    # read file
    df = pd.read_csv(file, encoding=encoding)
    
    # check header
    print("\n The First Five Observations in DataFrame \n")
    display(df.head())
    
    # check tail
    print("\n The Last Five Observations in DataFrame \n")
    display(df.tail())
    
    # check shape of df
    print("\n The Shape of DataFrame")
    print(df.shape)
    
    # check info of df
    print("\n Basic Information of DataFrame \n")
    display(df.info())
    
    # check number of unique values in df
    print("\n Number of Unique Values in DataFrame \n")
    print(df.nunique())
    
    # check number of missing values in df
    print("\n Number of Missing Values in DataFrame \n")
    print(df.isnull().sum())
    
    # check number duplicates in df
    print("\n Number of Duplicates in DataFrame")
    print("Number of duplicates: ", df.duplicated().sum())
    
    return df

In [12]:
url = 'https://github.com/HamoyeHQ/HDSC-Time-series-analysis-and-forecast/files/7768846/Time_series_analysis_and_forecast_DATASET.csv'

# load data and assess data
df = assess_data(url)

 The First Five Observations in DataFrame

              FullDate  Tmax   SysLoad  GasPrice  ElecPrice
0  2010-09-01 00:00:00  15.8  1688.215      3.69     23.710
1  2010-09-01 01:00:00  15.8  1669.195      3.69     22.635
2  2010-09-01 02:00:00  15.8  1491.980      3.69     22.565
3  2010-09-01 03:00:00  15.8  1330.760      3.69     18.910
4  2010-09-01 04:00:00  15.8  1247.940      3.69     18.030

 The Last Five Observations in DataFrame

                  FullDate  Tmax    SysLoad  GasPrice  ElecPrice
92011  2021-02-28 19:00:00  24.3  449.63625    5.4848    117.925
92012  2021-02-28 20:00:00  24.3  815.59975    5.4848     87.880
92013  2021-02-28 21:00:00  24.3  745.12325    5.4848     62.060
92014  2021-02-28 22:00:00  24.3  694.95150    5.4848     62.000
92015  2021-02-28 23:00:00  24.3  714.69630    5.4848     62.955

 The Shape of DataFrame
(92016, 5)

 Basic Information of DataFrame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92016 entries, 0 to 92015
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   FullDate   92016 non-null  object
 1   Tmax       92016 non-null  float64
 2   SysLoad    92016 non-null  float64
 3   GasPrice   92016 non-null  float64
 4   ElecPrice  92016 non-null  float64
dtypes: float64(4), object(1)
memory usage: 3.5+ MB

None

 Number of Unique Values in DataFrame

FullDate     92016
Tmax           328
SysLoad      91933
GasPrice      2128
ElecPrice    31855
dtype: int64

 Number of Missing Values in DataFrame

FullDate     0
Tmax         0
SysLoad      0
GasPrice     0
ElecPrice    0
dtype: int64

 Number of Duplicates in DataFrame
Number of duplicates:  0

In [13]:
# change the FullDate data type from spring to datatime
df['FullDate'] = pd.to_datetime(df['FullDate'])

# confirm changes
df.dtypes

FullDate     datetime64[ns]
Tmax                float64
SysLoad             float64
GasPrice            float64
ElecPrice           float64
dtype: object

In [16]:
# subset df for analysis
df_sub = df[['FullDate', 'ElecPrice']]
df_sub.head()

             FullDate  ElecPrice
0 2010-09-01 00:00:00     23.710
1 2010-09-01 01:00:00     22.635
2 2010-09-01 02:00:00     22.565
3 2010-09-01 03:00:00     18.910
4 2010-09-01 04:00:00     18.030

In [17]:
# rename columns
df_sub = df_sub.rename(columns={"FullDate": "dt", "ElecPrice": "y"})
df_sub.head()

                   dt       y
0 2010-09-01 00:00:00  23.710
1 2010-09-01 01:00:00  22.635
2 2010-09-01 02:00:00  22.565
3 2010-09-01 03:00:00  18.910
4 2010-09-01 04:00:00  18.030

In [20]:
# set dt as index
df_sub.set_index('dt', inplace=True)
df_sub.head()

                          y
dt
2010-09-01 00:00:00  23.710
2010-09-01 01:00:00  22.635
2010-09-01 02:00:00  22.565
2010-09-01 03:00:00  18.910
2010-09-01 04:00:00  18.030

In [21]:
# resample data to daily
df_daily = df_sub.resample('D').sum()
df_daily.head()

                   y
dt
2010-09-01  2751.700
2010-09-02   570.810
2010-09-03   504.975
2010-09-04   502.275
2010-09-05   500.555

### Install required library for the time series analysis

In [14]:
!pip install pystan~=2.14

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pystan~=2.14 in /usr/local/lib/python3.7/dist-packages (2.19.1.1)
Requirement already satisfied: numpy>=1.7 in /usr/local/lib/python3.7/dist-packages (from pystan~=2.14) (1.21.6)
Requirement already satisfied: Cython!=0.25.1,>=0.22 in /usr/local/lib/python3.7/dist-packages (from pystan~=2.14) (0.29.32)

In [15]:
!pip install fbprophet

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: fbprophet in /usr/local/lib/python3.7/dist-packages (0.7.1)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from fbprophet) (1.21.6)
Requirement already satisfied: python-dateutil>=2.8.0 in /usr/local/lib/python3.7/dist-packages (from fbprophet) (2.8.2)
Requirement already satisfied: pystan>=2.14 in /usr/local/lib/python3.7/dist-packages (from fbprophet) (2.19.1.1)
Requirement already satisfied: setuptools-git>=1.2 in /usr/local/lib/python3.7/dist-packages (from fbprophet) (1.2)
Requirement already satisfied: cmdstanpy==0.9.5 in /usr/local/lib/python3.7/dist-packages (from fbprophet) (0.9.5)
Requirement already satisfied: tqdm>=4.36.1 in /usr/local/lib/python3.7/dist-packages (from fbprophet) (4.64.1)
Requirement already satisfied: pandas>=1.0.4 in /usr/local/lib/python3.7/dist-packages (from fbprophet) (1.3.5)
Requirement already satisfied: Cython>=0.22 in /usr/local/lib/python3.7/dist-packages (from fbprophet) (0.29.32)
Requirement already satisfied: LunarCalendar>=0.0.9 in /usr/local/lib/python3.7/dist-packages (from fbprophet) (0.0.9)
Requirement already satisfied: holidays>=0.10.2 in /usr/local/lib/python3.7/dist-packages (from fbprophet) (0.16)
Requirement already satisfied: convertdate>=2.1.2 in /usr/local/lib/python3.7/dist-packages (from fbprophet) (2.4.0)
Requirement already satisfied: matplotlib>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from fbprophet) (3.2.2)
Requirement already satisfied: pymeeus<=1,>=0.3.13 in /usr/local/lib/python3.7/dist-packages (from convertdate>=2.1.2->fbprophet) (0.5.11)
Requirement already satisfied: korean-lunar-calendar in /usr/local/lib/python3.7/dist-packages (from holidays>=0.10.2->fbprophet) (0.3.1)
Requirement already satisfied: hijri-converter in /usr/local/lib/python3.7/dist-packages (from holidays>=0.10.2->fbprophet) (2.2.4)
Requirement already satisfied: ephem>=3.7.5.3 in /usr/local/lib/python3.7/dist-packages (from LunarCalendar>=0.0.9->fbprophet) (4.1.3)
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from LunarCalendar>=0.0.9->fbprophet) (2022.4)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.0.0->fbprophet) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.0.0->fbprophet) (1.4.4)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.0.0->fbprophet) (0.11.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib>=2.0.0->fbprophet) (4.1.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.8.0->fbprophet) (1.15.0)

### Building Model

In [ ]:
from fbprophet import Prophet